<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>개인정보처리방침 - Mementross</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class = "container">
    <div>
        <h1>Privacy</h1>
        <h3>데이터를 사용하여 더 나은 서비스를 구축합니다</h3>
        <p>
            모든 서비스에서 수집하는 정보를 다음 목적으로 이용합니다:<br>
            서비스 제공, 서비스 유지 및 개선, 사용자와 커뮤니케이션<br>
            <a href="/auth/instagram">API 요청</a>
            <a href="/">돌아가기</a>
        </p>
    </div>
</div>
</body>
</html>

