<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>서비스약관 - Mementross</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class = "container">
    <div>
        <h1>Terms and Conditions</h1>
        <h3>본 약관에 대하여</h3>
        <p>
            귀하는 법률에 따라 본 서비스 약관과 같은 계약으로 제한할 수 없는 일정한 권리를 보유합니다. 본 약관은 어떠한 경우에도 그러한 권리를 제한하지 않습니다.<br>
            <a href="/auth/instagram">API 요청</a>
            <a href="/">돌아가기</a>
        </p>
    </div>
</div>
</body>
</html>

